.after-header {
    width: 100%;
    max-height: 300px;
}

.after-header h1 {
    font-size: clamp(1.75rem, 0.5rem + 5.3333vw, 3.5rem);
    color: #ffffff;
}

.after-header p {
    font-size: clamp(1.125rem, 1.0357rem + 0.381vw, 1.25rem);
    color: #ffffff;
}

.data-table .accordion-item {
    border-bottom: 0.5px solid #D9D9D9;
}

.list-checkbox {
    height: 220px;
    overflow-y: hidden;
}

.list-checkbox:hover {
    overflow-y: auto;
}

.list-checkbox li {
    padding: 10px 21px;
    border-bottom: 0.5px solid #D9D9D9;
}

.bg-right {
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

/*  border radius */
.br-15 {
    border-radius: 0.938rem;
}

.br-20 {
    border-radius: 1.25rem;
}

.object-fit-cover {
    object-fit: cover;
}

.lift-box {
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform: translateY(0);
    transition: all .3s ease
}

.lift-box:hover {
    background-color: #0082CA;
    color: #fff;
    transform: translateY(-1.5rem);
    box-shadow: 0 .25rem 1.25rem rgba(52, 63, 82, .1)
}

.lift-box .svg-icons svg circle {
    fill: #F9F9F9;
}

.lift-box .svg-icons svg path {
    fill: #0082CA;
}

.lift-box:hover .svg-icons svg circle {
    fill: #03669c;
}

.lift-box:hover .svg-icons svg path {
    fill: #fff;
}

/*image hover */
.custom-img-hover {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
}

.custom-img-hover:after {
    content: "";
    position: absolute;
    background-color: #0082cae6;
    width: 92%;
    height: 600px;
    top: 120%;
    right: 40%;
    transform: rotate(140deg);
    transition: top 0.2s, right 0.2s;
}

.custom-img-hover:hover::after {
    top: -56%;
    right: 28%;
}

.custom-img-hover .custom-text {
    position: absolute;
    opacity: 0;
    transition: opacity 0.7 ease;

}

.custom-img-hover:hover .custom-text {
    z-index: 10;
    opacity: 1;
    transition: opacity 0.7 ease;
}

.report-card .report-info {
    bottom: 0;
    transform: translateY(82px);
    transition: all 0.3s ease-in-out
}

.report-card:hover .report-info {
    bottom: 0;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* color */
.bg-light-gray {
    background-color: #F9F9F9;
}

.symbol-150 {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 1px solid #D9D9D9;
}

.separator {
    display: block;
    width: 100%;
    height: .5px;
    background-color: #D9D9D9
}